html{
    height: 100%;
    background: linear-gradient(to bottom, #a4c0c0, #a6cdd2) !important; 
}
 body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100svh;
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Mincho ProN', serif;
  background: linear-gradient(to bottom, #bae2e2, #85aeb6), url(images/bg.jpg) no-repeat center center;
  background-size: cover;
  background-blend-mode: lighten;
  animation: backgroundShift 60s ease-in-out infinite;
}

.shadow-word {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
  max-width: 90vw;

  font-size: 40px;
  color: #2c2c2c;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-shadow: 1.5px 1.5px 3px rgba(0,0,0,1);
  font-family: "Lora", serif;
  font-weight: 500;
  line-height: 1.6;
  opacity: 0;
  transition: opacity 2s ease-in, transform 2s ease-out;
  animation: sway 6s ease-in-out infinite;
  z-index: 10;
}

footer {
    width: 100vw;
    background-color: #abc9c9;
    text-align: center;
    padding: 2em;
    font-size: 0.9em;
    color: #2E2E2E;
    position: relative;
    z-index: 1;
}


@keyframes sway {
  0%   { transform: translate(-50%, -50%) translateY(0px) rotate(0deg); }
  50%  { transform: translate(-50%, -50%) translateY(-5px) rotate(-1deg); }
  100% { transform: translate(-50%, -50%) translateY(0px) rotate(1deg); }
}

@keyframes backgroundShift{
    0% {babckground-position: 0% 50%}
    100% {background-position: 100% 50%}
}
body{
    animation:backgroundShift 60s ease-in-out infinite
}


@media screen and (max-width: 480px){
  .shadow-word {
    font-size: 20px;
    max-width: 96vw;
    padding: 0 2vw;
    line-height: 1.6;
  }
}
